.product {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    flex-direction: column;
    display: flex;
    background: #F3F3F7;
    margin-bottom: 13vh;
  }
  
.product::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }